body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 0px;
  list-style: none;
}

h1,
h3,
h2,
h4,
ul,
p,
blockquote {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}
